.wrapper {
    display: grid;
    grid-template-areas: 'prev living'
        'prev sofas';
    grid-gap: 45px 100px;
}

.header__bottom-item:nth-child(1) {
    grid-area: prev;
}

.header__bottom-item:nth-child(2) {
    grid-area: living;
}

.header__bottom-item:nth-child(3) {
    grid-area: sofas;
}

.wrapper__link {
    position: relative;
}

.wrapper__item-img {
    position: relative;
}

.header__item-text {
    font-weight: 900;
    position: absolute;
    top: -100px;
    left: 50px;
}

.header__item-link {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-weight: 900;
}

.living__inner {
    background-color: #fff;
    padding: 52px 0 20px 0;
}

.living__title,
.living__description {
    font-weight: 900;
    text-align: center;
    margin-bottom: 32px;
}

.living__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: space-between;
    margin-bottom: 33px;
}

.living__img {
    border: 2px solid #393D3C;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 14px;
    width: 100%;
}

.living__text {
    font-weight: 900;
    margin-bottom: 8px;
}

.living__btn {
    background-color: #a8854a;
    color: #fff;
    cursor: pointer;
    border-radius: 21px;
    padding: 3px;
    text-align: center;
    font-weight: 900;

}

.living__link {
    color: #fff;
    background-color: #a8854a;
    padding: 8px 72px;
    border-radius: 33px;
}

.living__showBTN {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo__inner {
    padding: 55px 0;
}

.promo__items {
    display: flex;
    justify-content: space-between;
   
}

.promo__img {
    width: 100%;
    border: 2px solid #393D3C;
    margin-bottom: 20px;
}

.promo__btn {
    display: block;
    text-align: center;
    border-radius: 34px;
    background-color: #393d3c;
    color: #fff;
    padding: 8px 80px;
}

.subscribe__inner {
    background-color: #856d5c;
    color: #e8e7e5;
    padding: 30px 72px;
}

.subscribe__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.subscribe__item {
    display: flex;
    align-items: center;
    font-weight: 900;
    justify-content: space-evenly;
}

.subscribe__item-text div:first-child {
    margin-bottom: 15px;
}

.subscribe__item-input {
    background-color: #9e8f85;

    flex: 1;
}

.subscribe__item-send {
    background-color: #b2aca7;
    color: #000;
    cursor: pointer;
}

.subscribe__item-input,
.subscribe__item-send {
    border: 1px solid #413939;
    padding: 10px 23px;
}
