@media (max-width: 1000px) {
    .wrapper {
        grid-template-areas:
            'prev prev'
            'living sofas'
            'living sofas';
        grid-gap: 45px 20px;
    }
    .wrapper__item{
        position: relative;
    }
    .wrapper__item-img {
        width: 100%;
    }
    .header__top{
        margin-bottom: 30px;
    }
}

@media (max-width: 900px){
    .promo__items {
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media (max-width: 800px){
    .living__items {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
       
    }
}
@media (max-width: 700px){
    .subscribe__inner {
        padding: 0 72px;
    }
    .subscribe__items {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

}
@media (max-width: 550px){
    .header__item-text{
        top:-40px;
    }
    .header__item-link{
        bottom: 20px;
    }
    .header__item-text,.header__item-link {
        left: 10px;
    }

}
@media(max-width: 450px){
    .subscribe__inner {
        padding: 0;
    }
    .subscribe__items {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .subscribe__item{
        flex-wrap: wrap;
        text-align: center;
    }
}
@media (max-width:400px){
    .living__items {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
       
    }
}
