@media (max-width: 1000px){
    .product__item:first-child{
        grid-template-areas:
        'one one one one'
        'two three four five';
    }
}

@media (max-width: 850px) {
    .product__items{
        flex-direction: column;
    }
    .product__item:first-child{
        grid-template-areas:
        'one one one one'
        'two three four five';
    } 
    .product__item:last-child {
        gap: 20px;
    }
    .product__img {
        width: 100%;
    }
}